.container,
.container-fluid {
    transition: all 0.5s ease;
}

//navbar
.navbar {
    flex-direction: row;
}

.dropdown-menu {
    padding: 0.5rem;
}

.navbar-right {
    margin-right: 3rem;
}

.em {
    height: 21px !important;
    width: 21px !important;
}

//modal
.modal-content {
    padding: 2rem;
}

//jumbotron
.jumbotron,
.bg-pastel {
    background-color: $pastel-blue-lighter;
}

.jumbotron {
    transition: all .5s ease;
    padding: 1rem;
    @media screen and (max-width: 992px) {
        margin-bottom: 0;
    }
}