.dropdown-menu {
    padding: 1rem;
}

// .btn-outline-success:hover {
// }
.em {
    height: 21px !important;
    width: 21px !important;
}

// .pull-right {
//     float: right;
// }
.modal-content {
    padding: 1rem;
}