.border-M {
    border-color: $M;
}

.border-S {
    border-color: $S;
}

.border-V {
    border-color: $V;
}

.border-MP {
    border-color: $MP;
}

.border-SD {
    border-color: $SD;
}

.border-C {
    border-color: $C;
}

.border-L {
    border-color: $L;
}

.border-KD {
    border-color: $KD;
}

.border-- {
    border-color: $WILD;
}


/*Colors for chart bars
*/

.bar-man {
    stroke: $KD
}

.bar-kvinna {
    stroke: $V
}

.bar-M {
    stroke: $M;
}

.bar-S {
    stroke: $S;
}

.bar-V {
    stroke: $V;
}

.bar-MP {
    stroke: $MP;
}

.bar-SD {
    stroke: $SD;
}

.bar-C {
    stroke: $C;
}

.bar-L {
    stroke: $L;
}

.bar-KD {
    stroke: $KD;
}

.bar-- {
    stroke: $WILD;
}