.border-M {
    border-color: $M;
}

.border-S {
    border-color: $S;
}

.border-V {
    border-color: $V;
}

.border-MP {
    border-color: $MP;
}

.border-SD {
    border-color: $SD;
}

.border-C {
    border-color: $C;
}

.border-L {
    border-color: $L;
}

.border-KD {
    border-color: $KD;
}

.border-- {
    border-color: $WILD;
}