.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.inline {
    display: inline;
}

//flexbox
.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}