.hidden {
    display: none !important;
}

.visible {
    //display: block !important;
    animation: show .5s ease-in-out;
}

.inline {
    display: inline;
}

//keyframe for fade
@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//flexbox
.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}