.mp-img-container {
    height: 85px;
    width: 85px;
    overflow: hidden;
    border: 2px solid;
    border-radius: 50%;
    margin-top: 1rem;
    position: absolute;
    top: -25px;
    box-shadow: -4px -5px 10px 0px rgba(0, 0, 0, 0.04);
}

.mp-img-container-modal {
    margin-top: 1rem;
    position: absolute;
    top: 13px;
    right: 147px;
    box-shadow: -4px -5px 10px 0px rgba(0, 0, 0, 0.04);
    height: 100px;
    width: 85px;
    overflow: hidden;
}

.mp-img {
    position: relative;
    top: -15px;
    width: 85px;
}

#riksdag-logo {
    width: 40px;
    height: 30px;
    margin-right: 1rem;
}