.mp-img-container {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border: 2px solid;
    border-radius: 50%;
    margin-top: 1rem;
    position: absolute;
    top: -30px;
}

.mp-img {
    position: relative;
    top: -15px;
    width: 80px;
}

#riksdag-logo {
    width: 40px;
    height: 30px;
    margin-right: 1rem;
}