#page-wrap {
    margin-bottom: 56px;
}

.nav-link {
    margin-right: 1rem;
}

.margin-left {
    margin-left: 5rem;
    //prevents the nav items from breaking line
    @media screen and (max-width: 992px) {
        margin-left: 1rem;
    }
}

//modal speech header
.speech-header {
    margin-top: 1rem;
}