//toplist table
tr {}

td {
    position: relative;
    //to make td:s larger to fit image
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    cursor: pointer;
}

.td-right {
    text-align: right;
}

.border-right {
    border-right: 1px solid #eceeef;
}

.border-left {
    border-left: 1px solid #eceeef;
}

.td-img {
    padding-right: 5rem !important;
}