a {
    color: #292b2c;
}

.own-debate {
    background: yellow;
}

.comeback-debate {
    background: lightyellow;
}

.debate-topic {
    padding: 0 .5rem;
    margin-right: .5rem;
}

.debate-context {
    color: dimgray;
    background: lightcyan;
    font-size: .8rem;
}

.speech-header {
    font-weight: bold;
}